body {
    background-color: #f4f7f6; /* Soft gray background */
    color: #3a4042; /* Dark slate gray text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* General styling for container elements */
.container {
    background-color: #ffffff; /* White background for content areas */
    border: 1px solid #c1e1e0; /* Light teal border */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Headers within containers */
h2 {
    color: #ef8354; /* Coral color for headers to draw attention */
}

/* Navigation and interactive elements */
.tablink, button {
    background-color: #4eaba6; /* Teal background for interactive elements */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tablink:hover, button:hover {
    background-color: #ef8354; /* Coral for hover states */
}



/* Legends and labels within charts */
#legend, #scatterLegend {
    background-color: #ffffff; /* White background for clarity */
    border: 1px solid #c1e1e0; /* Light teal border */
    padding: 5px;
}

#credits {
    font: 12px sans-serif;
    padding-bottom: 1%;
}

.instructions {
    color: red;
}

.optional {
    color: darkgreen;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    margin: 0.5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

.tablink:hover {
    background-color: #777;
}

.hovered-cell {
    background-color: #2200ff;
    color: white;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}


.dataTableClass {
    width: 80%;
    border-collapse: collapse;
    border: 2px black solid;
}

.tableHeaderClass {
    border: 2px solid black;
    padding: 5px;
    background-color: lightgray;
    font-weight: bold;
    text-transform: uppercase;
}

.tableBodyClass {
    border: 1px solid black;
    padding: 5px;
}

.dataTableClass td {
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.dataTableClass td:hover {
    background-color: #777; /* Gray background on hover */
}

svg {
    font: 10px sans-serif;
}

.container1 {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 10px;
    background-color: #ffffff; /* White background for content areas */
    border: 1px solid #c1e1e0; /* Light teal border */
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.dashboardGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: black;
}

fieldset {
    border-width: 0;
}

#legend {
    border: 1px solid black;
    padding: 10px;
}

/* the style for the close-button in the legend */
.close {
    display: inline-block;
    padding: 1px 5px;
    margin: 4px;
    border: 1px solid black;
    color: #000;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.close:hover {
    background: #ddd;
    cursor: pointer;
}


#selectedStatesContainer {
    padding: 10px;
    margin-top: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}



/* the style for the circle in the legend */
.color-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* the style for dots in the scatterplot */
.dot {
    
    fill-opacity: 0.6;
    stroke: gray;
    stroke-width: 1px;
}

/* tooltip for the scatterplot */
div.tooltip {
    position: absolute;
    text-align: left;
    padding: .2rem;
    margin: 1rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}

#radarChart {
    width: 750px;  /* or any other dimensions you prefer */
    height: 600px;
}
